*{
    padding:0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #B6B6B6;
}
<!--导航开始-->
@font-face {
    font-family: 'iconfont';
    src: url('font/font_zif3gk800jedygb9/iconfont.eot');
    src: url('font/font_zif3gk800jedygb9/iconfont.eot?#iefix') format('embedded-opentype'),
    url('font/font_zif3gk800jedygb9/iconfont.woff') format('woff'),
    url('font/font_zif3gk800jedygb9/iconfont.ttf') format('truetype'),
    url('font/font_zif3gk800jedygb9/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #FF0036;
}
.container{
    width:100%;
    height:32px;
    background: #F2F2F2;
    line-height: 30px;
}
.so-container{
    width: 1200px;
    height: 32px;
    margin: 0 auto;
}
.container-left{
    width: 218px;
    height: 32px;
    /*background: red;*/
    float: left;
}
.container-left span{
    color: #B6B6B6;
}
.container-left a{
    margin: auto 10px auto;
}
.container-left a:hover{
    text-decoration: underline;
    color: #FF0036;
}
.container-right{
    width: 693px;
    height: 32px;
    /*background: blue;*/
    float: right;
}
.container-right li{
    float: left;
    padding: 0 10px;
    line-height: 32px;
}
.container-right a:hover{
    text-decoration: underline;
    color: #FF0036;
}
#cotainer-right-one{
    padding: 0;
}
<!--导航结束-->
<!--头部开始-->
.header{
    width: 100%;
    height: 130px;
    background: red;
}
.so-header{
    width: 1200px;
    height: 130px;
    /*background: blue;*/
    margin: 0 auto;
}
.so-header-img{
    width: 240px;
    height: 130px;
    background-image: url("img/header.png");
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
.so-header-search{
    width: 930px;
    height: 90px;
    /*background: gray;*/
    float: right;
    margin-top: 40px;
}
.so-header-search input{
    width: 500px;
    height: 36px;
    font-size: 14px;
    border: 2px solid #FF0036;
}
.so-header-search button{
    width: 132px;
    height: 36px;
    background: #FF0036;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    position: relative;
    left: 0;
    position: absolute;
    left: 853px;
}
.hot{
    width: 625px;
    height: 30px;
    /*background: red;*/
    line-height: 26px;
}
.hot a{
    font-size: 16px;
}
.hot span{
    color:#B6B6B6;
    margin: 0 8px 0;
}
.hot a:nth-child(1){
    color:#FF0036;
}
.hot a:nth-child(7){
    color:#FF0036;
}
.hot a:nth-child(13){
    color:#FF0036;
}
.hot a:nth-child(17){
    color:#FF0036;
}
<!--头部结束-->

.banner{
    width:100%;
    height:572px;
}
.inner{
    width: 100%;
    height: 36px;
    background: #FF0036;
}
.shop{
    width: 1200px;
    height: 36px;
    margin: 0 auto;
}
.to-shop{
    width:200px;
    height:36px;
    background: #E22127;
    color:#fff;
    line-height: 36px;
    float: left;
}
.to-shop span{
    font-size:18px;
    margin-left: 15px;
}
.to-shop a{
    margin-left: 10px;
    font-size: 14px;
}

.to-fenlei{
    width: 1000px;
    height: 36px;
    float: right;
}
.to-fenlei a{
    display: block;
    float: left;
    font-size: 16px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    padding: 0 16px 0;
    position: relative;
}
.to-fenlei a div{
    width: 80px;
    height: 36px;
    position: absolute;
    left: 22px;
    top: 0;
    z-index: -1;
}
.to-fenlei a:hover div{
    transform:translateY(-20px);
}

.banner-pirce{
    width: 100%;
    height: 500px;
    background: #E8E8E8;
    margin-bottom: 10px;
    transition: all 1s;
}
.to-banner-pirce{
    width: 1240px;
    height: 500px;
    margin: 0 auto;
    position: relative;
}
.to-banner-img{
    width: 1240px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}
.to-banner-img li{
    width: 1240px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
}
.to-banner-img li.active{
    z-index: 2;
}
.to-banner-img li:first-child{
    z-index: 1;
}
.normal{
    width: 200px;
    height: 500px;
    background: #EDEDED;
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    z-index: 999;
}

.normal li{
    width: 200px;
    height: 31.3px;
}
.normal li:hover{
    background: #fff;
}
.normal li:hover a{
    color: #E54077;
    font-weight: 600;
}
.normal li a{
    font-size: 14px;
    letter-spacing:1.5px;
    line-height: 30px;
    margin-left: 30px;
    color: #000;
}


.slider-nav{
    width: 180px;
    height: 26px;
    margin: 0 auto;
    position: absolute;
    top:460px;
    left: 570px;
    z-index: 999;
}
.slider-nav li{
    width: 22px;
    height: 22px;
    background: #A2A2A2;
    margin:2px 13px 0 0;
    float: left;
    border-radius: 50%;
    cursor: pointer;
    /*transition: all 1s;*/
}
.slider-nav li.active{
    border: 1.5px solid #A2A2A2;
    background: #fff;
}

.live-text{
    width: 150px;
    height: 30px;
    /*background: red;*/
    margin-left: 10px;
    overflow: hidden;
    color: #fff;
    float: left;
}
.live-text div{
    width: 150px;
    height: 30px;
    font-size: 16px;
    transition: all 1s;
}
<!--banner结束-->
.activty{
    width: 100%;
    height: auto;
}
.brand{
    width: 1240px;
    height: 436px;
    /*background: gray;*/
    margin: 0 auto;
}
.brand-left{
    width: 488px;
    height: 436px;
    background: #050505;
    float: left;
    cursor: pointer;
}

.brand-left-top{
    width: 488px;
    height: 275px;
    /*background: red;*/
    position: relative;
}

.brand-left-top li{
    width: 488px;
    height: 275px;
    position: absolute;
    top: 0;
    left: 0;
}
.brand-left-top li:first-child{
    z-index: 1;
}
.status{
    width: 61px;
    height: 20px;
    color: #fff;
    position: absolute;
    right: 5px;
    top: 10px;
    z-index: 999;
}
.status span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    margin-right: 5px;
}
.brand-left-top-img{
    width: 70px;
    height: 58px;
    position: absolute;
    top: 108.5px;
    left: 209px;
    z-index: 999;
}
.brand-left-top:hover .brand-left-top-img img{
    animation:scale 1s;
}
.brand-left-top p:nth-of-type(1){
    font-size: 16px;
    color: #fff;
    position: absolute;
    bottom: 50px;
    left: 100px;
    z-index: 999;
}
.brand-left-top p:nth-of-type(2){
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 180px;
    z-index: 999;
}
.brand-left-top p:nth-of-type(2) img{
    position: absolute;
    top: -5px;
}
.brand-left-top p:nth-of-type(2) span{
    margin-left: 35px;
    font-size: 16px;
    letter-spacing:1.5px;
}



.brand-cover{
    width: 488px;
    height: 90px;
    position: relative;
    overflow: hidden;
}
.brand-img{
    width: 980px;
    height: 90px;
    /*background: red;*/
}
.brand-cover-left{
    width: 18px;
    height: 90px;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    /*display: none;*/
}
.brand-cover-right{
    width: 18px;
    height: 90px;
    position: absolute;
    top: 0;
    right: 0;
}


@keyframes scale {
    0%{
        transform:scale(0);
    }
    75%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
#mask{
    width: 160px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
}
#mask img{
    position: absolute;
    left:66px;
    top:26px;
    display: none;
}
.brand-cover-1:hover #mask img{
    animation:scale 1s;
}
.brand-cover-2:hover #mask img{
    animation:scale 1s;
}
.brand-cover-3:hover #mask img{
    animation:scale 1s;
}
.brand-cover-1{
    width: 160px;
    height: 90px;
    /*background-color:gray;*/
    float: left;
    position: relative;
}
.brand-cover-1:hover{
    opacity: 0.8;
}
.brand-cover-1:hover #mask img{
    display: block;
}
.brand-cover-1 p{
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 2px;
    left:10px;
}
.brand-cover-2{
    width: 160px;
    height: 90px;
    /*background: gray;*/
    margin-left: 4px;
    float: left;
    position: relative;
}
.brand-cover-2:hover{
    opacity: 0.8;
}
.brand-cover-2:hover #mask img{
    display: block;
}
.brand-cover-2 p{
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 2px;
    left:10px;
}
.brand-cover-3{
    width: 160px;
    height: 90px;
    /*background: gray;*/
    margin-left: 4px;
    float: left;
    position: relative;
}
.brand-cover-3:hover{
    opacity: 0.8;
}
.brand-cover-3:hover #mask img{
    display: block;
}
.brand-cover-3 p{
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 2px;
    left:10px;
}
.live{
    width: 390px;
    height: 50px;
    /*background: red;*/
    margin-left: 8px;
    margin-top: 15px;
}
.live-pirce{
    width: 96px;
    height: 52px;
    background-image: url("img/5.png");
    background-repeat: no-repeat;
    float: left;
}
.live p{
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
    float: left;
}

.brand-right{
    width: 732px;
    height: 436px;
    /*background: blue;*/
    float: right;
}
.brand-right li{
    width: 122px;
    height: 109px;
    float: left;
    /*background: gray;*/
    border: 1px solid #F5F5F5;
    position: relative;
    padding-top: 20px;
}
.brand-right li img{
    line-height: 100px;
}
.brand-right-hideen{
    width: 122px;
    height: 109px;
    background: #333;
    z-index: 999;
    position: absolute;
    top:0;
    left: 0;
    opacity: 0;
}
.brand-right-hideen:hover{
    opacity: 0.8;
}
.brand-right-hideen span{
    width: 35px;
    height: 35px;
    margin-left: 80px;
}
.brand-right-hideen p{
    text-align: center;
    color: #fff;
    font-size: 14px;
}
.brand-right-hideen-onlick{
    width: 80px;
    height: 20px;
    background: #FF0000;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    border-radius: 32px;
    margin-left: 20px;
    margin-top: 10px;
}
.brand-right-last{
    width: 122px;
    height: 109px;
    /*background: #333;*/
    position: absolute;
    top:0;
    left: 0;
}
.brand-right-last span{
    width: 35px;
    height: 35px;
    margin-left: 42px;
}
.brand-right-last p{
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
}
.brand-right-last:hover{
    background: #DD2727;
}


.module{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

.module-one{
    width: 1240px;
    height: 510px;
    margin: 20px auto;
    /*background: red;*/
}
.module-one ul{
    width: 1240px;
    height: 510px;
}
.module-one li{
    width: 238px;
    height: 256px;
    float: left;
    background: blue;
    margin-right: 10px;
}
.module-one li h2{
    width: 238px;
    height: 36px;
    text-align: center;
    line-height:36px ;
    font-size: 18px;
    color: #fff;
    background: #FF0036;
}
.module-one-1{
    width: 238px;
    height: 220px;
    background: #fff;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
}
.module-one-1 p:nth-of-type(1){
    width: 238px;
    height: 24px;
    text-align: center;
    line-height:24px;
    font-size: 16px;
    margin-bottom: 6px;
}
.module-one-1 p:nth-of-type(2){
    width: 238px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #9688A5;
}
.module-one-1 span{
    display: block;
    width: 140px;
    height: 140px;
    background-image: url("img/yanjing.png");
    background-size:cover;
    border-radius: 50%;
    background-color: #F7F7F7;
    margin-left:50px;
    margin-top: 10px;
}
.module-one li:hover .module-one-1 span{
    background-size:150px 150px;

}
.module-one-2{
    width: 238px;
    height: 256px;
    background: #fff;
    padding-top: 20px;
}
.module-one-2 p:nth-of-type(1){
    width: 238px;
    height: 24px;
    text-align: center;
    line-height:24px;
    font-size: 16px;
    margin-bottom: 6px;
}
.module-one-2 p:nth-of-type(2){
    width: 238px;
    height: 14px;
    text-align: center;
    line-height: 14px;
    color: #9688A5;
}
.module-one-2 span{
    display: block;
    width: 140px;
    height: 140px;
    background-image: url("img/yanjing.png");
    background-size:cover;
    border-radius: 50%;
    background-color: #F7F7F7;
    margin-left:50px;
    margin-top: 10px;
}
.module-one li:hover .module-one-2 span{
    background-size:150px 150px;

}


.full-banner{
    width: 1240px;
    height: 90px;
    margin: 0 auto;
    background-image: url("img/3.1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.floor-line-con{
    width: 1240px;
    height: 470px;
    /*background: red;*/
    margin: 10px auto;
}
.floor-line-con-top{
    width: 1240px;
    height: 20px;
    /*background: gray;*/
    margin-bottom: 10px;
}
.floor-line-con-top span{
    display: block;
    width: 5px;
    height: 20px;
    background: #EA5F8D;
    float:left;
}
.floor-line-con-top h2{
    float: left;
    margin-left: 10px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
}
.floor-line-con-top p{
    float: left;
    margin-left: 10px;
    line-height: 20px;
}

.floor-line-con-left{
    width: 246px;
    height: 440px;
    float: left;
}
.floor-line-con-left-img{
    width: 246px;
    height: 330px;
    background-image:url("img/floor.png");
    background-size:cover;
}
.floor-line-con-left-img:hover{
    opacity: 0.6;
    transition: all 1s;
}
.floor-line-con-middle{
    width: 735px;
    height: 440px;
    background: blue;
    float: left;
}
.floor-line-con-right{
    width: 259px;
    height: 440px;
    background: #fff;
    float: left;
}

.floor-line-con-left-title{
    width: 246px;
    height: 110px;
    background: #EA5F8D;
    padding-top: 8px;
    color: #fff;
}
.floor-line-con-left-title h3{
    width: 246px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 18px;
}
.floor-line-con-left-title p{
    width: 246px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    font-size: 16px;
}
.floor-line-con-left-title span{
    display: block;
    width: 246px;
    height: 30px;
    background-image: url("img/index.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin-top: 12px;
}


.floor-line-con-middle ul li{
    width: 245px;
    height: 221px;
    background: #fff;
    float: left;
    border: 1px solid #F5F5F5;
}
.floor-line-con-middle ul li h2{
    width: 220px;
    height: 24px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin:15px 0 8px 20px;
}
.floor-line-con-middle ul li p{
    width: 220px;
    height: 18px;
    font-size: 14px;
    color: #EA5F8D;
    margin-left: 20px;
}
.floor-line-con-middle ul li img{
    margin-left: 89px;
}
.floor-line-con-middle ul li img:hover{
    transform: translateX(-10px);
}


.floor-line-con-right li{
    width: 259px;
    height: 147px;
    /*background: red;*/
    border: 1px solid #F5F5F5;
}
.floor-line-con-right ul li h2{
    width: 220px;
    height: 24px;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin:15px 0 8px 20px;
}
.floor-line-con-right ul li p{
    width: 220px;
    height: 18px;
    font-size: 14px;
    color: #EA5F8D;
    margin-left: 20px;
}
.floor-line-con-right ul li img{
    margin-left: 157px;
    margin-top: -20px;
}
.floor-line-con-right ul li img:hover{
    transform: translateX(-10px);
}


.footer{
    width: 100%;
    height: 514px;
    border-top: 1px solid #D1D7DC;
    margin-top: 20px;
}
.footer-one{
    width: 1240px;
    height: 100px;
    margin: 0 auto;
    background-image: url("img/footer.jpg");
}
.footer-two{
    width: 1240px;
    height: 213px;
    margin: 10px auto;
}
.footer-two li{
    width: 190px;
    height: 130px;
    float: left;
    margin-left: 50px;
}
.footer-two h1{
    font-size: 16px;
    margin-bottom: 10px;
}
.footer a{
    display: block;
    margin-bottom: 8px;
}



.footer-last{
    height: 100%;
    height: 180px;
    background: #000;
    border-top: 1.5px solid red;
}
.footer-last-desc{
    width: 1240px;
    height: 180px;
    margin: 0 auto;
    padding-top: 6px;
}
.footer-last-desc p{
    width: 1240px;
    height: 20px;
    margin-bottom: 6px;
}
.footer-last-desc p a{
    display: block;
    float: left;
    color: #fff;
    margin-right: 3px;
}

.footer-laster{
    width: 1240px;
    height: 120px;
    /*background: red;*/
    margin: 0 auto;
    color: #B6B6B6;
}
.footer-laster a{
    display: inline-block;
    margin-right: 50px;
}
.footer-laster span{
    display: block;
    float: left;
}
.footer-laster p a{
    display: block;
    margin-right: 50px;
    float: left;
    color: #B6B6B6;
    position: relative;
}
.footer-laster p a img{
    position: absolute;
    top: -2px;
    left: -10px;
}
.footer-last-2{
    margin-top: 6px;
}


.right-fixed{
    /*display: flex;*/
    width: 35px;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px 0 10px 0;
}
.right-fixed-one{
    width: 35px;
    height: auto;
}
.right-fixed-two{
    width: 35px;
    height: auto;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-top: 1px solid #444;
    border-bottom: 1px solid #444;
}
.right-fixed-two img{
    width: 35px;
    height: 35px;
}

.right-fixed-three{
    width: 35px;
    height: auto;
}
.right-fixed-three img{
    width: 35px;
    height: 35px;
    margin-bottom: 6px;
}

.right-fixed-four{
    width: 35px;
    height: auto;
    margin-top: 10px;
}
.right-fixed-four img{
    width: 35px;
    height: 35px;
    margin-top: 8px;
}
/*潮流开始*/
.cl{
    width: 1230px;
    height: 477px;
    /*background: red;*/
    margin: 0 auto;
    margin-top: 30px;
}
.cl-1{
    width: 238px;
    height: 477px;
    background:#fff;
    float: left;
    margin-right: 8px;
}
.cl1{
    width: 238px;
    height: 36px;
    background: #ff0036;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.cl-2{
    width: 238px;
    height: 24px;
    /*background:#fff;*/
    margin-top:15px;
    font-size: 22px;
    text-align: center;
}
.cl-3{
    width: 238px;
    height: 14px;
    margin-top: 5px;
    color: #888;
    font-size: 14px;
    text-align: center;
}
.cl-4{
    width: 140px;
    height: 140px;
    background-color: #999;
    border-radius: 70px;
    position: absolute;
    margin-top: 15px;
    margin-left: 54px;
}
.maojing{
    width: 120px;
    height: 120px;
    margin-top: 10px;
}
.cl-5{
    width: 200px;
    height: 1px;
    background: #EEE;
    margin: 0 auto;
    margin-top: 160px;
}
.lz{
    width: 1230px;
    height: 90px;
    /*background: red;*/
    margin: 10px auto;
    background:red;
}
.lzzz{
    width: 1230px;
    height: 90px;
    margin: 0 auto;
}
/*美丽人生开始*/
.mlrs{
    width: 1230px;
    height: 470px;
    /*background: red;*/
    margin: 10px auto;
}
.ml1{
    width: 1230px;
    height: 31px;
    /*background: blue;*/
}
.ml1-1{
    width: 209px;
    height: 31px;
    /*background: #fff;*/
    float: left;
    border-left: 6px solid #EA5F8D;
}
.ml1-2{
    width: 800px;
    height: 31px;
    /*background: #fff;*/
    float: right;
}
.ml11{
    color: #000;
    font-size: 18px;
    float: left;
    margin-left: 10px;
}
.ml22{
    color: #000;
    font-size: 12px;
    float: right;
    line-height: 31px;
}
.mlrs a{
    font-size: 14px;
    margin-left: 30px;
    margin-top: 8px;
    display: inline-block;
    text-align: right;
    color: #000;
}
.mlrs a:hover{
    text-decoration:underline ;
}
.mlrs .ml2 .mlr2-1 .ct .ct1-3:hover img{
     /*transform:translate(10px,0px);*/
     transform:translate( 10px,0px);
}
.ml2{
    width: 1230px;
    height: 439px;
    /*background: blue;*/
    margin-top: 10px;
}
.mlr2-1{
    width: 984px;
    height: 439px;
    /*background: yellow;*/
    float: right;
}
.mlr2-2{
    width: 246px;
    height: 439px;
    /*background: red;*/
    float: left;
}
.mlttt{
    width: 246px;
    height: 330px;
    /*background: yellow;*/
}
.mlt{
    width: 246px;
    height: 330px;
}
.mlr3{
    width: 246px;
    height: 109px;
    /*background: yellow;*/
}
.ct{
    width: 245px;
    height: 439px;
    background:#fff;
    float: left;
    margin-right: 1px;
}
.ct1{
    width: 245px;
    height: 220px;
    /*background: red;*/
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.ct2{
    width: 245px;
    height: 220px;
    /*background:blue;*/
    /*border-bottom: 1px solid #f5f5f5;*/
    /*border-right: 1px solid #f5f5f5;*/
}
.ct1-1{
    width: 220px;
    height: 24px;
    /*background: red;*/
    margin-top: 4px;
    font-size: 18px;
    margin-left: 10px;
}
.ct1-2{
    width: 220px;
    height: 18px;
    /*background: red;*/
    margin-top: 10px;
    margin-left: 10px;
    color: #EA5F8D;
    font-size: 14px;
}
.ct1-3{
    width: 154px;
    height: 154px;
    /*background: red;*/
    margin-top: 4px;
    margin-left: 80px;
}
.myf{
    width: 154px;
    height: 154px;
}
.ct3-1{
    width: 249px;
    height: 147px;
    /*background: red;*/
    border-bottom: 1px solid #f5f5f5;
}
.ctt1{
    width: 220px;
    height: 24px;
    /*background: red;*/
    margin-top: 2px;
    margin-left: 10px;
    font-size: 18px;
}
.ctt2{
    width: 220px;
    height: 18px;
    font-size: 14px;
    color:#EA5F8D; 
    margin-left: 10px;
    margin-top: 4px;
}
.ctt3{
    width: 90px;
    height: 90px;
    background: red;
    margin-left: 140px;
}
.xttt{
    width: 90px;
    height: 90px;
}
/*美丽人生结束*/
/*潮电酷玩开始*/
.mlrsa{
    width: 1230px;
    height: 470px;
    /*background: red;*/
    margin: 0 auto;
    margin-top: 40px;
}
.ml1a{
    width: 1230px;
    height: 31px;
    /*background: blue;*/
}
.ml1-1a{
    width: 209px;
    height: 31px;
    /*background: #fff;*/
    float: left;
    border-left: 6px solid #0AA6E8;

}
.ml1-2a{
    width: 800px;
    height: 31px;
    /*background: #fff;*/
    float: right;
}
.ml11a{
    color: #000;
    font-size: 18px;
    float: left;
    margin-left: 10px;
}
.ml22a{
    color: #000;
    font-size: 12px;
    float: right;
    line-height: 31px;
}
.mlrsa a{
    font-size: 14px;
    margin-left: 30px;
    margin-top: 8px;
    display: inline-block;
    text-align: right;
    color: #000;
}
.mlrsa a:hover{
    text-decoration:underline ;
}
.cdkw{
    width: 1230px;
    height: 439px;
    background: #fff;
    margin: 10px auto;
}
.cdkw1{
    width: 246px;
    height: 439px;
    background: blue;
    float: left;
}
.cd1{
    width: 246px;
    height: 330px;
    background: #fff;
}
.zly{
    width: 246px;
    height: 330px;
}
.cd2{
    width: 246px;
    height: 110px;
    background: red;
}
.cdkw2{
    width: 984px;
    height: 439px;
    /*background: yellow;*/
    float: right;
}
.kw1{
    width: 984px;
    height: 221px;
    /*background: red;*/
}
.kw1-1{
    width: 490px;
    height: 220px;
    /*background: #fff;*/
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    float: left;
}
.kw1-2{
    width: 244px;
    height: 220px;
    /*background: yellow;*/
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    float: left;
    margin-left: 1px;
}
.kw1-3{
    width: 244px;
    height: 220px;
    /*background: yellow;*/
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    float:right;
}
.kw2{
    width: 984px;
    height: 219px;
    /*background:blue;*/
}
.kw2-1{
    width: 244px;
    height: 220px;
    border-right: 1px solid #f5f5f5;
    /*border-bottom: 1px solid #f5f5f5;*/
    float: left;
}
.kw2-2{
    width: 244px;
    height: 220px;
    border-right: 1px solid #f5f5f5;
    /*border-bottom: 1px solid #f5f5f5;*/
    float: left;
    margin-left: 1px;
}
.kw2-3{
    width: 244px;
    height: 220px;
    border-right: 1px solid #f5f5f5;
    /*border-bottom: 1px solid #f5f5f5;*/
    float: left;
    margin-left: 1px;
}
.kw2-4{
    width: 244px;
    height: 220px;
    border-right: 1px solid #f5f5f5;
    /*border-bottom: 1px solid #f5f5f5;*/
    float: right;
}
.kww1{
    width: 260px;
    height: 24px;
    /*background: red;*/
    margin-top:3px;
    margin-left: 40px;
    font-size: 24px;
}
.kww2{
    width: 260px;
    height: 18px;
    /*background: red;*/
    margin-top:3px;
    margin-left: 40px;
    font-size: 18px;
}
.kww3{
    width: 260px;
    height: 18px;
    /*background: red;*/
    margin-top:3px;
    margin-left: 40px;
    font-size: 18px;
    color: #0AA6E8;
}
.kww4{
    width: 195px;
    height: 195px;
    /*background: red;*/
    /*margin-top:8px;*/
    margin-left: 320px;
}
.sjt{
    width:150px;
    height: 150px;
}
.kkk1{
    width: 220px;
    height: 24px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
}
.kkk2{
    width: 220px;
    height: 18px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 4px;
    color: #0AA6E8;
}
.kkk3{
    width: 140px;
    height: 140px;
    /*background: red;*/
    margin-left: 80px;
}
.kk33{
    width: 150px;
    height: 150px;
}
.mlrsa .cdkw .kw1-1:hover img{
     /*transform:translate(10px,0px);*/
     transform:translate( 10px,0px);
}
.mlrsa .cdkw .kw1-2:hover img{
     /*transform:translate(10px,0px);*/
     transform:translate( 10px,0px);
}
.mlrsa .cdkw .kw1-3:hover img{
     /*transform:translate(10px,0px);*/
     transform:translate( 10px,0px);
}
.mlrsa .kw2 .kkk3:hover img{
     /*transform:translate(10px,0px);*/
     transform:translate( 10px,0px);
}
/*1分低500*/
.spm{
    /*margin-top: 10px;*/
    width: 1230px;
    height: 90px;
    background:red;
    margin: 20px auto;
}
.spm1{
    width: 1230px;
    height: 90px;
}
/*猜你喜欢*/
.cnxh{
    width: 1230px;
    height: 43px;
    /*background: red;*/
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}
.module{
    width: 1230px;
    height: 333px;
    /*background: red;*/
    margin: 0 auto;
}
.module1{
    width: 235px;
    height: 319px;
    background: #fff;
    float: left;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 7px;
    font-size: 13px;
}
.mo11{
    width: 235px;
    width: 235px;
}
.guan{
    width: 200px;
    height: 80px;
    /*background: red;*/
    margin-left: 10px;
}
#jiage{
        color: #ff0036;
        font-size: 16px;
}
/*底部开始*/
.footer{
    width: 100%;
    height:280px;
    background: #fff;
    border-top: 1px solid #D1D7DC;
}
.footer1{
    width: 1230px;
    height: 100px;
    margin: 0 auto;
}
.footer2{
    width: 1190px;
    height: 213px;
    /*background: red;*/
    margin: 0 auto;
    border-top: 1px solid #D1D7DC;
}
.ft1{
    width: 238px;
    height: 90px;
    /*background: blue;*/
    float: left;
}
.ft2{
    width: 238px;
    height: 90px;
    /*background: yellow;*/
    float: left;
}
.ft3{
    width: 238px;
    height: 130px;
    /*background: #fff;*/
    float: left;
}
.ft4{
    width: 238px;
    height: 170px;
    /*background: #fff;*/
    float: left;
}
.ft5{
    width: 238px;
    height: 135px;
    /*background: blue;*/
    float: left;
}
 dl dt {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
    text-align: center;
}
dl,dt,dd{
    text-align: center;
    font-size: 14px;
    color: #D1D7DC;
}
.ewm{
    width: 186px;
    height: 30px;
}
.mama{
    width: 105px;
    height: 105px;
    /*background: red;*/
    margin: 0 auto;
}
/*<!-- 底部标签开始 -->*/
.tmall{
    width: 100%;
    height: 182px;
    background: #000;
    border-top: 2px solid #FF0036;
}
.tm1{
    width: 1190px;
    height: 35px;
    /*background: yellow;*/
    margin: 0 auto;
}
.tmall .tm1 a{
    color:#fff;
}
.ww2{
    width: 1190px;
    height: 110px;
    /*background: red;*/
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
}
.qq1{
    width: 1190px;
    height: 45px;
    /*background: red;*/
    margin: 0 auto;
    margin-top: 8px;
}